*{
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: 'Courier New', Courier, monospace;  
}

.congra{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 24px;
    font-weight: 180;
    gap: 75px;
    text-decoration: none;
    color: #fff;
}

header{
    background-color: #2b2f33;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 49px;
    width: 309px;
    margin: auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.first{
    height: 1000px;
    background-color: rgb(222, 239, 250);
    justify-content: center;
    justify-items: center;
}

.typed_out{
    overflow: hidden;
    font-family: "VCR Mono", "Courier New";
    font-size:25px;
    margin-bottom: 40px;
}

.inlineDiv{
    display: inline-block;
}

.info{
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 0 auto
}
.btn{
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
    align-items: center;
}

.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.gif{
    height: 600px;
    width: 1200px;
    box-sizing: content-box;
    margin-bottom: 20px;
}
.girlanda{
    height: 150px;
    position: absolute;
    width: 100%;
    margin-top: -65px;
}
.mainText{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.ascii-art {
    display: inline-block;
    padding: 2em;
    margin: 2em;
    margin-top: 80px;
    font-size: 12px;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    margin-left: 340px;
    background-color: rgb(222, 239, 250)
}
@font-face {
    font-family: "VCR Mono";
    src: url("./fonts/vcrosdmonorusbydaymarius.ttf");
    font-weight: normal;
    font-size: normal;
}
